<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('../includes/admin-head',{ title : "Events"})%>
    <link rel="stylesheet" href="/styles/admin/AdminEvent.css">
</head>
<body>
    <div class="main">
        <%- include('../includes/admin-aside') %>
        <div class="main-content">
<%- include('../includes/admin-header', { title: 'Events' , subTitle: 'List of  Upcoming Events' }) %>

          <div class="container">
            <div class="tablecontent">
                <table>
                    <tr>
                        <th>NAME</th>
                        <TH>Date</TH>
                        <th>Time</th>
                        <TH>Place</TH>
                        <th>Target Audience</th>
                    </tr>
                    <tr>
                        <td id="same">Expertise in Teaching</td>
                        <td id="same">5/2/24</td>
                        <td id="same"> 11:00am</td>
                        <td id="same"> Auditorium</td>
                        <td id="same">Professor</td>
                    </tr>
                    <tr>
                        <td id="same">Know The Self</td>
                        <td id="same">9/2/24</td>
                        <td id="same">12:00pm</td>
                        <td id="same">Auditorium</td>
                        <td id="same">Open for All</td>
                    </tr>
                    <tr>
                        <td id="same">Empowering Woman</td>
                        <td id="same">8/3/24</td>
                        <td id="same">1:00pm</td>
                        <td id="same">Auditorium</td>
                        <td id="same">Only For Womans</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>