<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('../includes/admin-head',{ title : "Admin Salary"})%>
    <link rel="stylesheet" href="/styles/admin/AdminSalary.css">
</head>
<body>
    <div class="main">
             <%- include('../includes/admin-aside') %>
       <div class="main-content">
       <%- include('../includes/admin-header', { title: 'Staff Salary' , subTitle: 'Managing Staff Salary' }) %>
        <div class="container">
            <div class="tablecontent">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <TH>Basic Salary</TH>
                        <th>D.A Salary</th>
                        <TH>H.R.A Salary</th>
                        <th>Other</th>
                        <th>Total Salary</th>
                    </tr>
                    <tr>
                        <td id="same">1</td>
                        <td>Tejas</td>
                        <td id="same">65000</td>
                        <td id="same">3000</td>
                        <td id="same">2000</td>
                        <td id="same">2000</td>
                        <td id="same">72000</td>
                    </tr>
                    <tr>
                        <td id="same">2</td>
                        <td>Priya</td>
                        <td id="same">60000</td>
                        <td id="same">2000</td>
                        <td id="same">2000</td>
                        <td id="same">2000</td>
                        <td id="same">66000</td>
                    </tr>
                    <tr>
                        <td id="same">3</td>
                        <td>Vikrant</td>
                        <td id="same">65000</td>
                        <td id="same">3000</td>
                        <td id="same">2000</td>
                        <td id="same">2000</td>
                        <td id="same">72000</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
</body>
</html>