<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/styles/admin/adminstaff.css" />
    <link rel="stylesheet" href="/styles/commonmenu.css" />
    <link rel="stylesheet" href="/styles/common-header.css" />
    <title>Admin Staff</title>
  </head>
  <body>
    <%- include('../includes/admin-aside')%>
    <div class="main-content">
      <%- include('../includes/admin-header') %>
      <div class="container">
        <div class="tablecontent">
          <table>
            <tr>
              <th><input type="checkbox" /></th>
              <th>ID</th>
              <th>NAME</th>
              <TH>AGE</TH>
              <th>PHONE NO.</th>
              <TH>EMAIL</TH>
              <th>ROLE</th>
            </tr>
            <tr>
              <td id="same"><input type="checkbox" /></td>
              <td id="same">1</td>
              <td>Tejas</td>
              <td id="same">18</td>
              <td>9924875811</td>
              <td>dhumale@gmail.com</td>
              <td>Principle</td>
            </tr>
            <tr>
              <td id="same"><input type="checkbox" /></td>
              <td id="same">2</td>
              <td>Priya</td>
              <td id="same">25</td>
              <td>7359413436</td>
              <td>rabadiya@gmail.com</td>
              <td>Accountant</td>
            </tr>
            <tr>
              <td id="same"><input type="checkbox" /></td>
              <td id="same">3</td>
              <td>Vikrant</td>
              <td id="same">20</td>
              <td>8141030494</td>
              <td>patil@gmail.com</td>
              <td>Proffessor</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
