<!DOCTYPE html>
<html lang="en">
  <head>
        <%- include('../includes/principal-head' , {title : 'All Departments'})%>

    <link rel="stylesheet" href="/styles/principal/principledepartment.css" />
  </head>
  <body>
    <div class="main">
      <%- include('../includes/principal-aside') %>
      <div class="main-content">
        <%- include('../includes/principal-header', { title: 'Departments' ,
        subTitle: 'Departments in Organization' }) %>
        <div class="container">
          <div class="tablecontent">
            <table>
              <tr>
                <th>Sr.No.</th>
                <th>Department Name</th>
                <TH>HOD Name</TH>
                <th>Contact No.</th>
                <TH>Email</TH>
              </tr>
              <tr>
                <td id="same">1</td>
                <td>Information Technology</td>
                <td>Jay Dhumale</td>
                <td id="same">9924875411</td>
                <td id="same">dhumale@gmail.com</td>
              </tr>
              <tr>
                <td id="same">2</td>
                <td>Computer Science</td>
                <td>Jenil Patil</td>
                <td id="same">9973322421</td>
                <td id="same">patil@gmail.com</td>
              </tr>
              <tr>
                <td id="same">3</td>
                <td>Computer Science and Designing</td>
                <td>Neeraj Phadke</td>
                <td id="same">9723375421</td>
                <td id="same">phadke@gmail.com</td>
              </tr>
              <tr>
                <td id="same">4</td>
                <td>Artificial Intelligence</td>
                <td>Darshit Yadav</td>
                <td id="same">9054090540</td>
                <td id="same">yadavkosamba@gmail.com</td>
              </tr>
              <tr>
                <td id="same">5</td>
                <td>Food Processing Technology</td>
                <td>Fenil Patel</td>
                <td id="same">9500595005</td>
                <td id="same">patelf@gmail.com</td>
              </tr>
              <tr>
                <td id="same">6</td>
                <td>Mechanical Department</td>
                <td>Aarsh Patel</td>
                <td id="same">9876598765</td>
                <td id="same">arshp@gmail.com</td>
              </tr>
              <tr>
                <td id="same">7</td>
                <td>Automobile Department</td>
                <td>Parth Patel</td>
                <td id="same">7654376543</td>
                <td id="same">parth@gmail.com</td>
              </tr>
              <tr>
                <td id="same">8</td>
                <td>Civil Department</td>
                <td>Dhruv Rabadiya</td>
                <td id="same">9998899988</td>
                <td id="same">diya@gmail.com</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
