<div class="header">
  <div class="mainheader">
    <input type="text" placeholder="Search" id="search" />
    <label for="search"> <i class="fa-solid fa-magnifying-glass"></i></label>
    <form action="\logout" method="get">
      <button type="submit">Log Out</button>
    </form>
  </div>
  <div class="heading">
    <h1><%= title %></h1>
    <p><%= subTitle %></p>
  </div>
</div>
