<div class="main">
        <div class="menu">
            <div class="topmenu">
                <h1>Admin</h1>
            </div>
            <div class="logo">
                <i class="fa-regular fa-user fa-2xl"></i>
                <p><b>Admin Name</b></p>
            </div>
            <div class="content1">
                <i class="fa-solid fa-house"></i>
                <a href="../admin/admin-dashboard">Dashboard</a>
            </div>
            <div class="para2">
                <h5>Data</h5>
                <div class="content">
                    <i class="fa-solid fa-user-group"></i><a href="../admin/staff-member">Staff member</a>
                </div>
                <div class="content">
                    <i class="fa-solid fa-address-book"></i><a href="#">Contact Information</a>
                </div>
                <div class="content">
                    <i class="fa-solid fa-trophy"></i><a href="#">Achievement</a>
                </div>
                <div class="content">
                    <i class="fa-solid fa-calendar-days"></i><a href="#">Attendance</a>
                </div>
                <div class="content">
                    <i class="fa-solid fa-clock"></i><a href="/AdminLeave/Adminleave.html">Leave Request</a>
                </div>
            </div>
            <div class="para3">
                <h5>Pages</h5>
                <div class="content">
                    <i class="fa-solid fa-user"></i><a href="#">Profile Form</a>
                </div>
                <div class="content">
                    <i class="fa-regular fa-calendar-check"></i><a href="#">Events</a>
                </div>
                <div class="content">
                    <i class="fa-solid fa-money-bill"></i><a href="/AdminSalary/AdminSalary.html">Salary</a>
                </div>
            </div>
            <div class="para4">
                <h5>Chart</h5>
                <div class="content">
                    <i class="fa-solid fa-chart-column"></i><a href="#">Barchart</a>
                </div>
                <div class="content">
                    <i class="fa-solid fa-chart-pie"></i><a href="#">Pie Chart</a>
                </div>

            </div>
        </div>