<div class="menu">
            <div class="topmenu">
                <h1>H.O.D</h1>
            </div>
            <div class="logo">
                <i class="fa-regular fa-user fa-2xl"></i>
                <p><b>H.O.D Name</b></p>
            </div>
            <div class="para1">
                <i class="fa-solid fa-house" style="color:cornflowerblue"></i>
                <a href="../hod/hod-dashboard" style="color: cornflowerblue;">Dashboard </a>
            </div>
            <div class="para2">
                <h5>Data</h5>
                <div class="content">
                    <i class="fa-solid fa-user-group"></i><a href="../hod/HOD-profile">Staff Members</a>
                </div>
                <div class="content">
                    <i class="fa-solid fa-trophy"></i><a href="../hod/HOD-ach">Achievement</a>
                </div>
                <div class="content">
                    <i class="fa-regular fa-calendar-check"></i><a href="../hod/HOD-event">Events</a>
                </div>
                <div class="content">
                    <i class="fa-solid fa-clock"></i><a href="../hod/HOD-leave">Leave Request</a>
                </div>
                <div class="content">
                    <i class="fa-solid fa-money-bill"></i><a href="../hod/HOD-salary">Salary</a>
                </div>
            </div>
        </div>