<div class="menu">
  <div class="topmenu">
    <h1>principal</h1>
  </div>
  <div class="logo">
    <i class="fa-regular fa-user fa-2xl"></i>
    <p><b>principal</b></p>
  </div>
  <div class="para1">
    <div class="content">
      <i class="fa-solid fa-house" style="color: cornflowerblue"></i>
      <a href="../principal/principal-dashboard" style="color: cornflowerblue">Dashboard</a>
    </div>
  </div>
  <div class="para2">
    <h5>Data</h5>
    <div class="content">
      <i class="fa-solid fa-trophy"></i
      ><a href="../principal/Principal-Achievement">Achievement</a>
    </div>
    <div class="content">
      <i class="fa-regular fa-building"></i>
      <a href="../principal/principal-department">Department</a>
    </div>
    <div class="content">
      <i class="fa-solid fa-clock"></i
      ><a href="../principal/principal-leave">Leave Request</a>
    </div>
  </div>
  <div class="para3">
    <h5>Pages</h5>
    <div class="content">
      <i class="fa-regular fa-calendar-check"></i
      ><a href="../principal/principal-events">Events</a>
    </div>
    <div class="content">
      <i class="fa-solid fa-money-bill"></i
      ><a href="../principal/principal-salary">Salary</a>
    </div>
  </div>
  <div class="para4">
    <h5>Chart</h5>
    <div class="content">
      <i class="fa-solid fa-chart-column"></i><a href="#">Barchart</a>
    </div>
    <div class="content">
      <i class="fa-solid fa-chart-pie"></i><a href="#">Pie Chart</a>
    </div>
  </div>
</div>
