
    <div class="header">
        <input type="text" placeholder="Search" id="search">
        <label for="search"> <i class="fa-solid fa-magnifying-glass"></i></label>
    </div>
    <div class="heading">
        <div>
        <h1>Dashboard</h1>
        <p>Welcome To Your Dashboard</p>
        </div>
        <div class="heading-but">
            <button>Logout</button>
        </div>
    </div>
