<!DOCTYPE html>
<html lang="en">

<head>
        <%- include('../includes/HOD-head' , {title : 'Staff Members'})%>

    <link rel="stylesheet" href="/styles/hod/HOD-profile.css">
</head>

<body>
    <div class="main">
                        <%- include('../includes/hod-aside') %>

        <div class="main-content">
                        <%- include('../includes/hod-header', { title: 'Staff Members' , subTitle: '' }) %>

            <div class="container">
                <div class="tablecontent">
                    <table>
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>ID</th>
                            <th>NAME</th>
                            <TH>AGE</TH>
                            <th>PHONE NO.</th>
                            <TH>EMAIL</TH>
                            <th>ROLE</th>
                        </tr>
                        <tr>
                            <td id="same"><input type="checkbox"></td>
                            <td id="same">1</td>
                            <td>Tejas</td>
                            <td id="same">38</td>
                            <td>9924875811</td>
                            <td>dhumale@gmail.com</td>
                            <td>Principle</td>
                        </tr>
                        <tr>
                            <td id="same"><input type="checkbox"></td>
                            <td id="same">2</td>
                            <td>Priya</td>
                            <td id="same">35</td>
                            <td>7359413436</td>
                            <td>rabadiya@gmail.com</td>
                            <td>Accountant</td>
                        </tr>
                        <tr>
                            <td id="same"><input type="checkbox"></td>
                            <td id="same">3</td>
                            <td>Vikrant</td>
                            <td id="same">30</td>
                            <td>8141030494</td>
                            <td>patil@gmail.com</td>
                            <td>Proffessor</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="bottom"></div>
        </div>
    </div>
</body>

</html>