<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/staff-head', { title : "Update Profile"}) %>
    <link rel="stylesheet" href="/styles/staff/employee-updprof.css" />
  </head>

  <body>
    <div class="main">
      <%- include('../includes/staff-aside') %>
      <div class="main-content">
        <%- include('../includes/staff-header', { title: 'Update Profile' ,
        subTitle: '' }) %>

        <div class="container">
          <div>
            <input type="text" placeholder="First Name" />
            <input type="text" placeholder="Last Name" />
          </div>
          <div>
            <input type="tel" placeholder="Contact Number" />
            <input type="tel" placeholder="Emergency Contact Number" />
          </div>
          <div>
            <input type="date" placeholder="Date of birth" />
            <input type="text" placeholder="Gender" />
          </div>
          <div>
            <input type="email" placeholder="E-mail" />
            <input type="password" placeholder="password" />
          </div>
          <div>
            <input type="text" placeholder="Address" />
          </div>
          <div>
            <input type="text" placeholder="Department" />
            <input type="text" placeholder="Work Experience" />
          </div>
          <div>
            <input type="text" placeholder="Qualification" />
            <input type="file" placeholder="Add Photograph" />
          </div>
          <div class="buttonn">
            <button id="Decline">Confirm</button>
            <button id="Approval">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
