<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/staff-head', { title : "Add Your Achievement"}) %>
    <link rel="stylesheet" href="/styles/staff/employee-achadd.css" />
  </head>

  <body>
    <div class="main">
      <%- include('../includes/staff-aside') %>
      <div class="main-content">
        <%- include('../includes/staff-header', { title: 'Add Your Achievement'
        , subTitle: '' }) %>

        <div class="container">
          <div>
            <input type="text" placeholder="Achievement Title" />
          </div>
          <div>
            <input type="text" placeholder="Date of Achievement" />
          </div>
          <div>
            <input
              type="text"
              placeholder="Detail Description of Achievement"
            />
          </div>
          <div>
            <input type="file" placeholder="Add Certificate" />
          </div>
          <div class="buttonn">
            <button id="Decline">Confirm</button>
            <button id="Approval">Cancel</button>
          </div>
        </div>
        <div class="bottom"></div>
      </div>
    </div>
  </body>
</html>
